@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;

$theme: matx.define-theme(
  (
    color: (
      theme-type: light,
      primary: matx.$m3-violet-palette,
    ),
  )
);

html {
  // Apply the base theme at the root, so it will be inherited by the whole app.
  @include mat.all-component-themes($theme);
  @include matx.color-variants-back-compat($theme);
}

.input-density {
  @include mat.input-density(-2);
}

.mat-mdc-snack-bar-container {
  margin: unset !important;
  padding: 8px !important;
  position: fixed !important;
  z-index: 10 !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  font-family: unset !important;
}